<?php /** Copyright © Feedback Company. All rights reserved. */ ?>
<?php /** @var \FeedbackCompany\Reviews\Block\Adminhtml\Form\Renderer\Widget\WidgetTypeImage $block */ ?>
<div>
    <img id="widget-image-preview" src="#" alt="Widget Type Preview Image"
         data-mage-init='{"widgetTypePreview": {"widgetOptions": <?= /* @noEscape */ $block->getWidgetConfig() ?>}}' />
</div>

<script>
    require(['jquery', 'loader', 'domReady!'], function ($) {
        'use strict';

        $('#widget-image-preview').trigger('contentUpdated');
    });
</script>