<?php /** Copyright © Feedback Company. All rights reserved. */ ?>
<?php /** @var \FeedbackCompany\Reviews\Block\Adminhtml\Form\Renderer\Config\Registration $block */ ?>
<?= $block->getButtonHtml(); ?>
<span class="registration-indicator" id="registration-indicator">
    <img class="processing" hidden="hidden" alt="Registration" style="margin:0 5px"
         src="<?= $block->escapeUrl($block->getViewFileUrl('images/process_spinner.gif')) ?>"/>
</span>
<script type="text/x-magento-init">
    {
        "*": {
            "registerWidgetTypes": {
                "ajaxUrl": <?= /* @noEscape */ $block->getAjaxUrl() ?>
            }
        }
    }
</script>